@import "/src/styles/mixins.scss";
@import "/src/styles/variables.scss";

.description {
  @include flex($c: space-between,$i: center);

  &__img-user {
    @include flex($d: column, $c: space-between);
    height: 150px;
    color: $dark-blue;

    img {
      border-radius: 50%;
      margin: 2em 0;
    }
  }
 

  &__text {
    width: 50%;

    .card {
      color: $dark-blue;

      .card-header {
        background-color: $blue;
        color: $light-teal;
      }
     
    }
  }
}