@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.user {
  @include flex($d: column,$c: center, $i: center);
  background-image: url("../../../public/images/background_image3.png");
  background-size: contain;

  &__header {
    width: 90%;
    margin: 3em 0;
  }

  &__user-description {
    width: 70%;
    margin: 3em 0;
  }


  &__events-list {
    margin-top: 5em;
    width: 50%;  
  }
}


.scroll-btn {
  position: fixed; 
  bottom: 200px;
  right: 100px;
}