@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Spice&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap');

.intro {
  @include flex;
  width: 60%;
  margin: 3em 0;
  padding: 1em 0;
  border-bottom: 1px solid $dark-blue;

  &__div{
   width: 50%;
    height: 30vh;

   &__title {
    color: $dark-blue;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1em;
   }

   &__description {
    font-size: large;
    color: $dark-blue;
   }

   &__image {
    height:100%;
    filter: invert(74%) sepia(18%) saturate(596%) hue-rotate(202deg) brightness(94%) contrast(85%);
   }
  }

}

