@import "/src/styles/variables.scss";
.search-form{
  width: 100%;
  display: flex;
}
.input-group{
  display: flex;
  flex-wrap: nowrap;
}
.search {
 
  &__select {
    background-color: $royal-blue;
    color: $white;
  }

  &__bar {
    border-radius: 0px;
  }

  &__btn {
    background-color: $royal-blue;
    color: $white;
  }
}