@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.header {
  @include flex($d: row,$c: space-between);

  h5 {
    font-weight: bold;
    font-size: 30px;
    color: $dark-blue;
    font-family: $font-sans;
  }

 button{
    border-radius: 50px;
    border: 1px solid $dark-blue;
    color: $dark-blue;
    background-color: $light-teal;
  }
}