@import "/src/styles/variables.scss";
.card{
  height: 300px;
  &:hover{
   background-color: $light-blue;
  }
}
.btn-primary{
  background-color: greenyellow;
  color: black;
  margin-left: 25%;
  margin-bottom: 1em;
}
.content{
 div{
  display: flex;
  background-color: $light-blue;
  &.header{
    display: flex;
    justify-content: space-between;
  }
 }
 p{
  display: flex;
  text-align: left;
 }
}
.card-body{
  padding:0px;
}
.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .col-md-4{
    max-width: 15em;
    img{
      max-width: 100%;
      max-height: 100%;
      border-radius: 30%;
    }
  }
}
.title{
  display: flex;
  justify-content: space-between;
  padding:1em 1em 0em 1em;

}
.card-footer{
  display: flex;
  justify-content: space-between;
}
.comment-number{
  text-align: left;
}
