.filter-container{
  margin: 1em;
}

.main-body{
  display: flex;
  justify-content: space-around;
}
.page-left{
  margin-left: 1em;
}
.rdp-months{
  border:1px solid black;
  border-radius: 2%;
}