@import "/src/styles/variables.scss";
@import "/src/styles/mixins.scss";

.create-wrap {
  @include flex($d: column, $c: center, $i: center);
}

.create {
  
  color: $dark-blue;
  width: 50%;
  margin: 3em 0;
  
  .input-group-text {
    background-color: $light-blue;
    
  }

  &__date-time-title , &__description-title, &__event-logistics-title{
    margin-top: 3em;
    margin-bottom: 2em;
    font-size: $medium;
    background-color: $mellow-purple;
    color: $dark-blue;
    border-radius: 25px;
  }

  &__date-time {
    @include flex($c: center,$i: center);

    .calendar-title{
      background-color: $mellow-purple;

      color: $dark-blue;
      border-radius: 25px;
    }

    .date-time-hr, .date-time-min{
      margin-left: 2em;
      color: $dark-blue;
      font-weight: bold;
    }

    .date-time-sub {
      @include flex($d: column);
      h5{
        background-color: $mellow-purple;
        margin-bottom: 2em;
        color: $dark-blue;
        border-radius: 25px;
      }
    }
  }

  &__event-logistics {
    .entry-fee-title {
      margin-top: 4em;
    }

    .sub-group2 {
      @include flex;
      margin: 2em 0;

      .cost{
        margin-right:1em;
      }
    }
  }

  .submit-btn {
    margin-top: 3em;
    width:60%;
    background-color: $blue;
  }
}

.scroll-btn {
  position: fixed; 
  bottom: 200px;
  right: 100px;
}